<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading">&copy; 2019 {{ site.title | escape }}</h2>
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
              <li>Email: <a href="mailto:baphong80@gmail.com" target="_blank">baphong80@gmail.com</a></li>
              <li>Phone: 0916 539 229</li>
							<li>Facebook: <a href="https://www.facebook.com/baphong80/" target="_blank">/baphong80</a></li>
							<li>Feed: <a href="{{ "/feed.xml" | relative_url }}" target="_blank">RSS</a></li>
          </ul>
        </div>
  
        <div class="footer-col footer-col-3">
          <p>Đây là website chính thức của thầy Bá Phong. Thầy hướng dẫn trẻ dưới 18 tuổi học Toán Tiếng Anh để hội nhập với giáo dục toàn cầu. 
		  Thầy cũng hướng dẫn người lớn học, hành và trải nghiệm Lộ trình tâm Bát chánh đạo, con đường vắng mặt khổ đau.</p>
        </div>
      </div>
  
    </div>
  
  </footer>
