---
---

@import "minima";

.info {
    background-color: rgb(217,230,240);
	padding: 0.5rem 1rem;
    font-size: 0.95em;
    margin-bottom: 1.2rem;
}
.info h5 {
    font-weight: bold;
    font-size: 1rem;
    padding-top: 0.6rem;
}
.caption {
    color: gray;
    font-size: 0.9em;
    padding-top: 4px;
}
.non-quote {
    font-size: 1.25rem;
    letter-spacing: 0;
    color: #686868;
    padding: 4.5%;
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
blockquote {
    font-size: 1.25rem;
    letter-spacing: 0;
    color: #686868;
    position: relative;
    padding: 16px 16px 16px 48px;
}
blockquote::before{
    content: "\201C";
    color:#e8e8e8;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-20px;
    font-family: Arial;
  }
blockquote cite {
    font-style: initial;
    font-size: 0.9rem;
    font-weight: bold;
    display: block;
    padding-top: 0.5rem;
}
.site-title .logo {
    height: 42px;
    vertical-align: top;
    padding-top: 6px;
}
.site-header {
    border-top: none;
}
.page-content, .post-content {
    line-height: 1.6;
}
.line {
    height: 1px;
    background-color: #ddd;
    margin: 2rem 0;
}
h1, h2, h3, h4 {
    line-height: 1.3;
}
.site-footer {
    background-color: #f5f5f5;
}
.footer-col-3 {
	font-size: 0.9em;
}

@media screen and (min-width: 801px) {
	.footer-col-3 {
		width: -webkit-calc(65% - (30px / 2));
		width: calc(65% - (30px / 2));
	}
}
